body {
    background-color: #fafad2;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 650px;
    margin: 25px auto;
}
#price,
#num,
#unit {
    font-size: 14px;
    box-sizing: border-box;
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}
#price {
    width:200px;
}
#num,
#unit {
    width: 140px;
}
#btn {
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    padding: 10px;
    background-color: #4169e1;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}
.input-area {
    font-size: 0;
    margin-bottom: 20px;
}
.result-area {
    background-color: #fff;
    padding: 10px;
    height: 130px;
    border-radius: 5px;
    position: relative;
}
#result {
    margin: 0;
}
#reset {
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#btn.disabled {
    opacity: 0.5;
}
#reset.hidden {
    display: none;
}
h1 {
    text-align: center;
    color:#4169e1;
}